DodPlaygroundNetFramework/bin/*
DodPlaygroundNetFramework/obj/*
DodPlaygroundNetFramework/obj/Release/DodPlaygroundNetFramework.exe
DodPlaygroundNetFramework/obj/Release/DodPlaygroundNetFramework.pdb
DodPlaygroundNetFramework/bin/Release/DodPlaygroundNetFramework.exe
*.pdb
*.exe
*.cache
DodPlaygroundNetFramework/bin/Release/DodPlaygroundNetFramework.exe
*.exe
DodPlaygroundNetFramework/bin/Release/DodPlaygroundNetFramework.pdb
DodPlaygroundNetFramework/obj/Release/DodPlaygroundNetFramework.exe
